{% extends "layout.html" %}
{% block body %}
	<div class="content-section">
		<legend class="border-bottom mb-4">All events</legend>
		<div class="row">
		{% for event in events %}
		<div class="col-sm">
			<a href="{{ url_for('event', id=event.id) }}">
				<article class="media content-section">
					<div class="media-body">
						<div class="article-metadata">
							<div class="mr-2" href="#">{{ event.location }}</div>
							<small class="text-muted">{{ event.datetime }}</small>
						</div>
						<h2><div class="article-title" href="#">{{ event.name }}</div></h2>
						<p class="article-content">Member price: {{ event.price_member }} Non-member price: {{ event.price_non_member }}</p>
				</article>
			</a>
		</div>
		{% endfor %}
		</div>
	</div>

{% endblock body %}

{% block content %}
<h3>Our Sidebar</h3>
<p class='text-muted'>You can put any information here you'd like.
	<ul class="list-group">
	<li class="list-group-item list-group-item-light">Latest Posts</li>
	<li class="list-group-item list-group-item-light">Announcements</li>
	<li class="list-group-item list-group-item-light">Calendars</li>
	<li class="list-group-item list-group-item-light">etc</li>
	</ul>
</p>
{% endblock content %}