{% extends "layout.html" %}
{% block body %}
    <div class="event-box">
        <div class="row">
            <div class="col-md-7">
                <div class='event-placeholder'>
                    <picture>
                        <img src="/static/images/christavali_example.JPG" class="event_image">
                    </picture>
                </div>
            </div>
            <div class="col-md-4">
                <div class="event-body">
                    <div class='event-date'>
                        <!-- <h4>{{ event.datetime }} </h4> -->
                        <p class='event-month'>OCT</p>
                        <p class='event-day'>20</p>
                    </div>
                    <div class='event-details'>
                        <p class='event-name'>{{ event.name }}</p>
                        <div class='event-detail'>
                            <div class="event-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            {{ event.location }}
                        </div>
                        <div class='event-detail'>
                            <div class="event-icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            07.00 PM - 10:00 PM
                        </div>
                        <div class='event-detail'>
                            <div class="event-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            £{{ event.price_member }}
                        </div>
                        <div class='event-detail event-detail-non-member'>
                            <div class="event-icon">
                                <i class="fa fa-user-times"></i>
                            </div>
                            £{{ event.price_non_member }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-attendee">
            <span class="button-container">
                <span class="button-wrapper">
                    <form action="{{ url_for('add_attendee', id=event.id) }}" method="get">
                        <button type='submit' class="event-button">Add Attendee</button>
                    </form>
                </span>
            </span>
        </div>
    </div>
{% endblock body %}

{% block content %}
    <h3>Tools</h3>
    <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">Add Attendee</li>
        <li class="list-group-item list-group-item-light">Edit Event</li>
        </ul>
    </p>
{% endblock content %}