{% extends "layout.html" %}
{% block body %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-row">
                    <!-- First name -->
                    <div class="form-group col-md-6">
                        {{ form.first_name.label(class="form-control-label") }}

                        {% if form.first_name.errors %}
                            {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.first_name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <!-- Last name -->
                    <div class="form-group col-md-6">
                        {{ form.last_name.label(class="form-control-label") }}

                        {% if form.last_name.errors %}
                            {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.last_name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <!-- Email -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <div class="input-group mb-2">
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                        <div class="input-group-append">
                            <div class="input-group-text">@st-andrews.ac.uk</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <!-- Year of Study -->
                    <div class="form-group col-md-6">
                        {{ form.year_of_study.label(class="form-control-label") }}
                        {{ form.year_of_study(class="form-control form-control-lg") }}
                    </div>
                    <!-- Course -->
                    <div class="form-group col-md-6">
                        {{ form.course.label(class="form-control-label") }}

                        {% if form.course.errors %}
                            {{ form.course(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.course.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.course(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-sm">
                        <div class="form-check">
                            <!-- Malaysian? -->
                            {{ form.malaysian(class="form-check-input") }}
                            {{ form.malaysian.label(class="form-check-label") }}
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-check">
                            <!-- Membership? -->
                            {{ form.membership(class="form-check-input") }}
                            {{ form.membership.label(class="form-check-label") }}
                        </div>
                    </div>
                    <div class="col-sm">
                        {{ form.submit(class="float-right btn btn-outline-info") }}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock body %}
{% block content %}
    <h3>Our Sidebar</h3>
    <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">Latest Posts</li>
        <li class="list-group-item list-group-item-light">Announcements</li>
        <li class="list-group-item list-group-item-light">Calendars</li>
        <li class="list-group-item list-group-item-light">etc</li>
        </ul>
    </p>
{% endblock content %}