{% extends "layout.html" %}
{% block body %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Person</legend>
                <div class="form-row">
                    <!-- First name -->
                    <div class="form-group col-md-6">
                        {{ form.first_name.label(class="form-control-label") }}

                        {% if form.first_name.errors %}
                            {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.first_name(class="form-control form-control-lg", disabled=not editing) }}
                        {% endif %}
                    </div>
                    <!-- Last name -->
                    <div class="form-group col-md-6">
                        {{ form.last_name.label(class="form-control-label") }}

                        {% if form.last_name.errors %}
                            {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.last_name(class="form-control form-control-lg", disabled=not editing) }}
                        {% endif %}
                    </div>
                </div>
                <!-- Email -->
                <div class="form-row">
                    <div class="form-group col-md-5">
                        {{ form.email.label(class="form-control-label") }}
                        <div class="input-group mb-2">
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg", disabled=not editing) }}
                            {% endif %}
                            <div class="input-group-append">
                                <div class="input-group-text">@st-andrews.ac.uk</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <!-- Year of Study -->
                    <div class="form-group col-md-6">
                        {{ form.year_of_study.label(class="form-control-label") }}
                        {{ form.year_of_study(class="form-control form-control-lg", disabled=not editing) }}
                    </div>
                    <!-- Course -->
                    <div class="form-group col-md-6">
                        {{ form.course.label(class="form-control-label") }}

                        {% if form.course.errors %}
                            {{ form.course(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.course.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.course(class="form-control form-control-lg", disabled=not editing) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row align-items-center">
                        <div class="col-sm">
                            <!-- Malaysian? -->
                            <div class="pretty p-icon p-round">
                                {{ form.malaysian(disabled=not editing) }}
                                <div class="p-success state">
                                    <i class="icon mdi mdi-check"></i>
                                    {{ form.malaysian.label() }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <!-- Membership? -->
                            <div class="pretty p-icon p-round">
                                {{ form.membership(disabled=not editing) }}
                                <div class="p-success state">
                                    <i class="icon mdi mdi-check"></i>
                                    {{ form.membership.label() }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            {{ form.submit(class="float-right btn btn-outline-info") }}
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
{% endblock body %}

{% block content %}
    <h3>Events</h3>
    <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">2019 Christavali</li>
        <li class="list-group-item list-group-item-light">2018 Flavours of Malaysia</li>
        <li class="list-group-item list-group-item-light">2017 Chinese New Year</li>
        <li class="list-group-item list-group-item-light">2016 Icebreaker</li>
        </ul>
    </p>
{% endblock content %}